.App {
  text-align: center;
}

.App-header {
  width: 100%;
  min-height: 10vh;
  // display: flex;
  // align-items: center;
  // justify-content: flex-end;

  .logo {
    margin: 30px auto;
  }

  .cart {
    position: absolute;
    padding: 10px;
    top: 15px;
    right: 15px;

    div {
      position: absolute;
      top: 0;
      right: 0;
      background-color: black;
      color: white;
      font-size: 10px;
      width: 18px;
      border-radius: 6px;
    }
  }
}
