.App {
  text-align: center;
}

.App-header {
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .logo {
    flex: 1;
  }

  .cart {
    padding: 10px;
    position: absolute;
    align-self: flex-start;
  }
}
